<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>876843883112-ub49peddbe0ib74j3udstapehe2opfup.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.876843883112-ub49peddbe0ib74j3udstapehe2opfup</string>
	<key>API_KEY</key>
	<string>AIzaSyDTvsqJ4hOPnFHn5-eZhTFIKHAoHTIEkPo</string>
	<key>GCM_SENDER_ID</key>
	<string>876843883112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swetamakuwala.FirebaseFireStoreExample</string>
	<key>PROJECT_ID</key>
	<string>fir-firestoreexample-3ad13</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-firestoreexample-3ad13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876843883112:ios:1457f88bffebd3ab2139dd</string>
</dict>
</plist>